body {
    background: skyblue;
    font-family: verdana;
    color: #fff;
    padding: 30px;
}
h1 {
    font-size: 90px;
    text-align: center;
}

#dNd{
    width: 350px;
    height: 100px;
    padding: 50px;
}

#leftBoxTitle{
    font-size: 30px;
    text-align: center;
}

#info{
    width: 450px;
    border: 5px solid rebeccapurple;
    height: 650px;
    font-family: verdana;
}

#instructions{
    padding: 20px;
    font-size: 20px;
}

#diag{
    float: right;
    border: 5px solid rebeccapurple;
}

