body {
    background: skyblue;
    font-family: verdana;
    color: #fff;
}
h1 {
    font-size: 90px;
    text-align: center;
}

#dNd{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
}

#title{
    font-size: 30px;
    text-align: center;
}

#titles{
    height: 15%;
}

#diagTitle{
    height: 80%;
    font-size: 30px;
    text-align: center;
}

#diagName{
    height: 50%;
    font-size: 30px;
    text-align: center;
    float: right;
}

#info{
    width: 450px;
    border: 5px solid rebeccapurple;
    height: 650px;
    font-family: verdana;
    float: left;
}

#instructions{
    padding: 20px;
    font-size: 20px;
    transform: translateY(20px);
}

#diag{
    width: 68%;
    border: 5px solid rebeccapurple;
    height: 620px;
    font-family: verdana;
    float: right;
    padding: 15px;
}

#actMenu{
    height: 85%;
    width: 99%;
    float: left;
}

#act{
    height: 85%;
    width: 100%;
    border: 5px solid rebeccapurple;
    font-family: verdana;
    background-color: #DAE4E4;
    float: left;
}

#yes{
    width: 48%;
    height: 13%;
    
}

#no{
    width: 48%;
    height: 13%;
    transform: translate(45px);
}

#myAwesomeDropzone{
    height: 100%;
    width: 100%;
}

